<!-- EN HAUT du template -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<input 
type="search" 
name="search" 
hx-get="{% url 'product_app:search' %}"
hx-trigger="keyup changed delay:500ms"
hx-target="#prod_li"
>

<ul>
    {% for product in products_by_page %}

    <li id="prod_li">
        <h3>{{product.name}}</h3>
        <em>{{product.price}}</em>
        <b>{{product.stock}}</b>
        <a href="{% url 'product_app:product-detail' product.id  %}">Description</a>

    </li>
    
    {% endfor %}
    
</ul>

<div>
 {% if products_by_page.has_previous %}
    <a href="?page={{products_by_page.previous_page_number}}">arrière_page</a>
    {% endif %}
    <span> {{ poducts_by_page.number}}</span>  
    
    
    {% if products_by_page.has_next %}
        <a href="?page={{ products_by_page.next_page_number}}">next_page</a>
    {% endif %}
         
</div>
    
   
    