<!-- EN HAUT du template -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


<p>{{ product_detail.name }}</p>
<p>{{ product_detail.price }}</p>
<p>{{ product_detail.stock }}</p>
<p>{{ product_detail.description }}</p>
<img src="{{product_detail.image.url}}"  width="150" alt="image">

<a href="{% url 'order_app:ajouter-au-panier' product_detail.id %}">Ajouter au panier</a>