{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% tailwind_css %}
    <title>
    {% block title %}
        
    {% endblock title %}
    </title>
</head>
<body>
    <nav>
        <a href="#">Accueil</a>
        <a href="#">Services</a>
        <a href="{% url 'product_app:products-list' %}">Produits</a>
        <a href="#">Contact</a>
    </nav>

    <header>
        
        
        {% if user.is_authenticated %}
        <p>Bienvenu <strong>{{ user.username|upper }}</strong></p>
        <a href="{% url 'auth_app:logout'%}">Deconnxion</a>
        <a href="#">Profile</a>
        <a href="{% url 'order_app:voir-panier' %}">Mon Panier 🛒</a>
        {% else %}
        <h1>Bienvenu sur SANBA SOCIETE METALURGIE </h1>
        <a href="{% url 'auth_app:register'%}">S'inscrire</a>
        <a href="{% url 'auth_app:login'%}">Se connecter</a>
        {% endif %}
            
    </header>

    <main>
        
        {% block content %}
            
        {% endblock content %}
            
    </main>

    <footer>
<p>Copywriting 2025</p>
    </footer>
</body>
</html>