<!-- EN HAUT du template -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<h1>panier: {{ panier.status }}</h1>
<ul>
{% for article  in articles  %}
<li>
<h3>article : {{ article.product }}</h3>
    <h3>quantité: {{ article.quantite }}</h3>
     <a href="{% url 'order_app:modifier-article' article.id %} ">modifer la quantité</a>
     <a href="{% url 'order_app:supprimer-article' article.id %}">Supprimer l'article</a>
</li>
   
{% endfor %}
</ul>

<h1>total : {{ total }}</h1>


{% if commande %}
    <a href="{% url 'order_app:detail-commande' commande.id %}">detail de la commande ></a>
    <br>
    <a href="{% url 'order_app:valide-commande' %}">Validée commande</a>
    <br>
{% else %}
    <p>Ajoutez des articles pour créer une commande</p>
{% endif %}

<a href="{% url 'order_app:historique-commande' %}">Historique des commande </a>


